
.text-truncate-container {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; 
  overflow: hidden;
}

.rounded-4 {
  border-radius: 10px;
}

.shadow-c {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.125);
}
